<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modeush.amazon.dao.AzOperationSystemEntityMapper" >
  <resultMap id="BaseResultMap" type="com.modeush.amazon.entity.AzOperationSystemEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="os" property="os" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="origin_vm_path" property="originVmPath" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, os, version, origin_vm_path, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from az_operation_system
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from az_operation_system
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.modeush.amazon.entity.AzOperationSystemEntity" >
    insert into az_operation_system (id, name, os, 
      version, origin_vm_path, status
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{originVmPath,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.modeush.amazon.entity.AzOperationSystemEntity" >
    insert into az_operation_system
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="os != null" >
        os,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="originVmPath != null" >
        origin_vm_path,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="originVmPath != null" >
        #{originVmPath,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.modeush.amazon.entity.AzOperationSystemEntity" >
    update az_operation_system
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="os != null" >
        os = #{os,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="originVmPath != null" >
        origin_vm_path = #{originVmPath,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.modeush.amazon.entity.AzOperationSystemEntity" >
    update az_operation_system
    set name = #{name,jdbcType=VARCHAR},
      os = #{os,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      origin_vm_path = #{originVmPath,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>