<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.modeush.amazon.dao.AzUserActionEntityMapper" >
  <resultMap id="BaseResultMap" type="com.modeush.amazon.entity.AzUserActionEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="action_group_id" property="actionGroupId" jdbcType="VARCHAR" />
    <result column="action_time" property="actionTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, action_group_id, action_time, create_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from az_user_action
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from az_user_action
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.modeush.amazon.entity.AzUserActionEntity" >
    insert into az_user_action (id, user_id, action_group_id, 
      action_time, create_time,
      status)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{actionGroupId,jdbcType=VARCHAR}, 
      #{actionTime,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.modeush.amazon.entity.AzUserActionEntity" >
    insert into az_user_action
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="actionGroupId != null" >
        action_group_id,
      </if>
      <if test="actionTime != null" >
        action_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="actionGroupId != null" >
        #{actionGroupId,jdbcType=VARCHAR},
      </if>
      <if test="actionTime != null" >
        #{actionTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.modeush.amazon.entity.AzUserActionEntity" >
    update az_user_action
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="actionGroupId != null" >
        action_group_id = #{actionGroupId,jdbcType=VARCHAR},
      </if>
      <if test="actionTime != null" >
        action_time = #{actionTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.modeush.amazon.entity.AzUserActionEntity" >
    update az_user_action
    set user_id = #{userId,jdbcType=VARCHAR},
      action_group_id = #{actionGroupId,jdbcType=VARCHAR},
      action_time = #{actionTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>